
.Pixso-symbol-77_127 {
        
      }
.Pixso-symbol-77_126 {
        width: 115px;
height: 25px;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 5px 0px 5px;
      }
.Pixso-paragraph-77_120 {
        font-size: 15px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-77_125 {
        width: 115px;
height: 25px;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 5px 0px 5px;
background-color: rgba(176.1298370361328, 176.1298370361328, 176.1298370361328, 1);
      }
.Pixso-paragraph-77_123 {
        font-size: 15px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-77_127 {
        width: fit-content;
height: fit-content;
      }

