
.Pixso-symbol-146_545 {
        
      }
.Pixso-symbol-146_544 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: transparent;
      }
.Pixso-instance-146_536 {
        width: 30px;
height: 30px;
      }
.Pixso-symbol-146_543 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: transparent;
      }
.Pixso-instance-146_537 {
        width: 30px;
height: 30px;
      }
.component-146_545 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-146_536 .Pixso-symbol-135_167  {
        width: 30px;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 1.7999999523162842px 1.7999999523162842px 1px 0px rgba(0, 0, 0, 0.7) ;
background-color: rgba(255, 255, 255, 1);
      }
.Pixso-instance-146_537 .Pixso-symbol-62_39  {
        width: 30px;
height: 30px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
