
.Pixso-symbol-97_172 {
        
      }
.Pixso-symbol-97_171 {
        width: 78px;
height: 25px;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.Pixso-instance-97_144 {
        width: 78px;
height: 25px;
      }
.Pixso-symbol-97_170 {
        width: 120px;
height: auto;
position: absolute;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
      }
.Pixso-instance-97_159 {
        width: 78px;
height: 25px;
      }
.Pixso-frame-97_160 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-color: rgba(221, 221, 221, 1);
      }
.frame-content-97_160 {
        display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
justify-content: center;
padding: 0px 3px 0px 3px;
width: 100%;
height: 100%;
position: relative;
      }
.stroke-wrapper-97_160 {
        position: relative;
width: 100%;
height: 90px;
display: flex;
flex-shrink: 0;
      }
.stroke-97_160 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 2px 0px 0px 2px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.shadow-blend-unknown-0 {
        position: absolute;
inset: 0;
box-shadow: -3px -3px 2px 0px rgba(0, 0, 0, 0.7) inset;
pointer-events: none;
mix-blend-mode: normal;
      }
.Pixso-instance-97_161 {
        width: 114px;
height: 25px;
      }
.Pixso-instance-97_162 {
        width: 114px;
height: 25px;
      }
.Pixso-paragraph-77_120 {
        font-size: 15px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-instance-97_163 {
        width: 114px;
height: 25px;
      }
.component-97_172 {
        width: fit-content;
height: fit-content;
      }
. {
        position: relative;
      }


.Pixso-instance-97_144 .Pixso-symbol-47_17  {
        width: 78px;
height: 25px;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
background-color: rgba(221, 221, 221, 1);
      }
.Pixso-instance-97_159 .Pixso-symbol-47_16  {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 4px 4px 4px;
background-color: rgba(176.1298370361328, 176.1298370361328, 176.1298370361328, 1);
      }
.Pixso-instance-97_159  .stroke-wrapper-47_16 {
        width: 78px;
height: 25px;
display: flex;
flex-shrink: 0;
      }
.Pixso-instance-97_159  .stroke-47_16 {
        inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 1px 1px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(255, 255, 255, 1);
      }
.Pixso-instance-97_159 .Pixso-symbol-47_16 .shadow-blend-unknown-0 {
        position: absolute;
inset: 0;
box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.8) inset;
pointer-events: none;
mix-blend-mode: normal;
      }
.Pixso-instance-97_161 .Pixso-symbol-77_126  {
        width: 114px;
height: 25px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 5px 0px 5px;
      }
.Pixso-instance-97_162 .Pixso-paragraph-77_120  {
        font-size: 15px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-instance-97_162 .Pixso-symbol-77_126  {
        width: 114px;
height: 25px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 5px 0px 5px;
      }
.Pixso-instance-97_163 .Pixso-paragraph-77_120  {
        font-size: 15px;
font-family: "Retro Gaming-Regular";
font-weight: 400;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-instance-97_163 .Pixso-symbol-77_126  {
        width: 114px;
height: 25px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 5px 0px 5px;
      }
